<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Sneaker House</title>
</head>

<body>

    <section class="navigation">
        <nav>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="#">
                            <img src="/images.png" alt="bbtrfly">
                        </a>
                    </div>
                    <span class="text-3xl bold" class="w-40">Sneaker House</span>
                    <div class="navbar-icons">
                        <a href="/search" class="nav-link">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="/cart" class="nav-link">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/customer_signup" class="nav-link">
                            <i class='fas fa-user-alt'></i>
                        </a>
                    </div>
                </div>
            </nav>
    </section>

    {{{body}}}
</body>

</html>