<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans">
    <link rel="stylesheet" href="/css/style.css">
    <title>Shoe Catalogue</title>
</head>

<body>
    <div class="x">
        {{{body}}}
    </div>



    //script js code that toggles the menu btn
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const menu = document.querySelector('.menu');
            const menuBtn = document.querySelector('.menu-btn');
            console.log(menu);

            //open clos menu functionality 
            menuBtn.addEventListener('click', () => {
                menu.classList.toggle('nav-toggle');
            })
        });
    </script>
</body>

</html>