<header>
    <nav>
        <div class="container">
            <div>
                <img src="../img/shoe.png" alt="logo" class="logo">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">Men</a>
                        </li>
                        <li>
                            <a href="#">Women</a>
                        </li>
                        <li>
                            <a href="#">Hottest Picks</a>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                        </li>
                    </ul>
                    <form action="">
                        <div class="search-icon">
                            <i class="fa fa fa-search"></i>
                        </div>
                        <input type="text" class="search" placeholder="..search">
                        <button class="nav-btn">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="menu-btn">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </nav>

    <div class="body">
        <div>
            <h4>R1200</h4>
            <h1>Nike Airforce</h1>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <a href="#" class="btn">ADD TO CART</a>
        </div>
        <div>
            <img src="../img/logo.png" alt="" style="height:400px;">
        </div>
    </div>
    <div class="footer">
        <div class="socials">
            <a href="#"> <i class="fa fa-facebook"></i></a>
            <a href="#"> <i class="fa fa-instagram"></i></a>
            <a href="#"> <i class="fa fa-twitter"></i></a>
        </div> 
    </div>
</header>