<div class="container">
    <div class="home">
    <nav>
<span>Shoez</span>
    </nav>
    </div>


<div class="showShoes">
    <div class="flex flex-col items-center justify-center">
  <ul class="list-disc">
    {% for shoe in shoes %}
      <li class="flex flex-row items-center justify-between">
        <a href="{{ shoe.brand.url }}" class="text-blue-500 hover:underline">{{ shoe.brand.name }}</a>
        <span class="font-bold">{{ shoe.price }}</span>
        <span>{{ shoe.color }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

</div>

</div>